<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.board.mapper.BoardMapper">

<select id = "getList" resultType = "com.board.domain.BoardVO">
	<![CDATA[
		SELECT bno, title, content, writer, reg_date, update_date FROM tbl_board where bno > 0
	]]>
</select>

<select id = "getListWithPaging" resultType = "com.board.domain.BoardVO">
	<![CDATA[
	SELECT a.bno, title, content, writer, reg_date, update_date 
	FROM (select bno from tbl_board order by bno desc limit #{page}, #{amount}) b
	JOIN tbl_board a ON a.bno = b.bno;
	]]>
</select>

<insert id = "insertSelectKey">
	<selectKey keyProperty="bno" order = "AFTER" resultType = "long">
		select last_insert_id();
	</selectKey>
	
	insert into tbl_board (bno, title, content, writer)
	values (#{bno}, #{title}, #{content}, #{writer})	
</insert>

<select id = "read" resultType = "com.board.domain.BoardVO">
	select * from tbl_board where bno = #{bno}
</select>

<delete id="delete">
	delete from tbl_board where bno = #{bno}
</delete>

<update id="update">
	update tbl_board
	set title = #{title}, content = #{content}, writer = #{writer}, update_date = now() 
	where bno = #{bno}
</update>

<select id = "getTotalCount" resultType = "int">
	select count(*) from tbl_board where bno > 0
</select>

</mapper>