<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.MemberMapper">

	<insert id="registerAccount" parameterType="com.board.domain.MemberVO">
		INSERT into tbl_member (mem_id, mem_pw, mem_name, mem_birth, mem_phone, mem_gender)
			VALUES (#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_birth}, #{mem_phone}, #{mem_gender})
	</insert>
	
	<insert id = "authInsert" parameterType="com.board.domain.AuthVO">
		INSERT into tbl_member_auth(mem_id, auth)
			VALUES (#{mem_id}, #{auth})
	</insert>
	
	<select id="idCheck" parameterType="String" resultType = "int">
		SELECT count(mem_id) from tbl_member
			WHERE mem_id = #{mem_id}
	</select>
	
	
	<select id="passChk" resultType = "int">
		SELECT count(*) from tbl_member
			WHERE mem_id = #{mem_id} AND mem_pw = #{mem_pw}
	</select>
	
	<resultMap type="com.board.domain.MemberVO" id="memberMap">
		<id property="mem_id" column ="mem_id"/>
		<result property = "mem_id" column = "mem_id"/>
		<result property = "mem_pw" column = "mem_pw"/>
		<result property = "mem_name" column = "mem_name"/>
		<result property = "mem_birth" column = "mem_birth"/>
		<result property = "mem_phone" column = "mem_phone"/>
		<result property = "mem_gender" column = "mem_gender"/>
		<result property = "enabled" column = "enabled"/>
		<collection property="authList" resultMap = "authMap"></collection>
	</resultMap>
	
	<resultMap type="com.board.domain.AuthVO" id="authMap">
		<result property="mem_id" column = "mem_id"/>
		<result property="auth" column = "auth"/>
	</resultMap>
	
	<select id = "read" resultMap="memberMap">
		SELECT mem.mem_id, mem_pw, mem_name, mem_birth, mem_phone, mem_gender, enabled, auth
		FROM tbl_member mem 
		LEFT OUTER JOIN tbl_member_auth auth on mem.mem_id = auth.mem_id
		WHERE mem.mem_id = #{mem_id}
	</select>
	
	<update id = "updateAccount">
		UPDATE tbl_member 
			SET mem_name = #{mem_name}, mem_pw = #{mem_pw}, mem_phone = #{mem_phone}
		WHERE mem_id = #{mem_id}
	</update>
	
	<delete id = "deleteAccount">
		DELETE from tbl_member
			WHERE mem_id = #{mem_id}	
	</delete>
	

</mapper>









