<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.ReplyMapper">

<insert id = "replyInsert">
	INSERT into tbl_reply (rno, bno, reply, replyer)
	VALUES (#{rno}, #{bno}, #{reply}, #{replyer})
	
</insert>

<select id = "read" resultType = "com.board.domain.ReplyVO">
	SELECT rno, bno, reply, replyer, reply_date, update_date
  FROM tbl_reply where rno = #{rno}

</select>

<delete id = "delete">
	DELETE from tbl_reply where rno = #{rno}
</delete>

<update id="update">
	UPDATE tbl_reply set reply = #{reply}, update_date = now() where rno = #{rno}

</update>

<select id = "getListWithPaging" resultType = "com.board.domain.ReplyVO">
<![CDATA[
	SELECT a.rno, a.bno, reply, replyer, reply_date, update_date
		FROM (select rno from tbl_reply where bno = #{bno} 
			order by rno desc limit #{cri.page}, #{cri.amount} ) b
	JOIN tbl_reply a ON a.rno = b.rno;
]]>


</select>

<select id = "getCountByRno" resultType = "int">
	SELECT count(rno) from tbl_reply where bno = #{bno}
</select>









</mapper>